@import url(../vendor/fonts.css);
@import url(../blocks/body.css);
@import url(../blocks/header.css);
@import url(../blocks/main.css);
@import url(../blocks/cards.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css);
@import url(../blocks/nav.css);
