@font-face {
  font-family: "Montserrat";
  src: url(../vendor/fonts/Montserrat-VariableFont_wght.ttf);
}

.body {
  margin: 0;
  background-color: #fafafa;
  font-family: "Montserrat", Arial, sans-serif;
}
