@font-face {
  font-family: "Montserrat";
  src: url(../vendor/fonts/Montserrat-VariableFont_wght.ttf);
}

.card__container {
  padding: 30px;
  width: 425px;
  border-radius: 8px;
  font-family: "Montserrat", Arial, sans-serif;
  color: #fafafa;
  font-weight: 500;
  background-image: linear-gradient(to top, #336137, #3e6541);
  border-bottom: solid 1px #274c2a;
  box-shadow: 0 2px 4px 2px #808080;
}

.card__description {
  display: flex;
  justify-content: space-between;
  color: #336137;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.card__psalm-number {
  margin: 0 0 12px;
}

.card__translation-text {
  margin: 0 0 12px;
}

.card__row {
  display: flex;
}

.card__column {
  margin-left: 30px;
}

.card__number {
  margin: 0 8px 0 0;
  font-size: 50px;
  font-weight: 600;
  float: left;
}

.card__text {
  margin: 0;
  font-size: 20px;
}
