.footer {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-top: 3px solid #336137;
  color: #336137;
}

.footer__copyright {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.footer__text {
  font-size: 16px;
  font-weight: 500;
}
