.footer {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #6b1b24;
  border-top: 3px solid #d4af37;
}

.footer__copyright {
  margin: 0;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
}
