.header {
  margin: 0;
  padding: 20px 30px;
  background-color: #6b1b24;
  box-sizing: border-box;
  border-bottom: 2px solid #efbf04;
  display: flex;
  align-items: center;
}

.header__content_simple-psalter {
  margin: 0 auto 0 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__logo {
  width: 40px;
  height: 40px;
  border: solid #4b0f18 2px;
  border-radius: 50%;
}

.header__title {
  margin: 0;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 24px;
  font-weight: 500; /*Try 500, or try 700*/
  color: #000;
}

.header__psalm-button {
  padding: 2px 12px;
  height: 40px;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  border: solid #4b0f18 2px;
  background-color: #fbf9d9;
}

.header__content_psalm-trans {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__text {
  margin: 0;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.header__trans-button {
  padding: 2px 12px;
  background: invisible;
  border-radius: 20px;
  border: solid #4b0f18 2px;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #fbf9d9;
}
