.header {
  margin: 0;
  padding: 20px 30px;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: solid 3px #336137;
  display: flex;
  align-items: center;
}

.header__logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
