.modal {
}

.modal__visible {
  visibility: visible;
  opacity: 1;
  transition:
    visibility 0s,
    opacity 0.6s;
}

.modal__container {
}

.modal__close {
}

.modal__close:hover {
}

.modal__title {
}

.modal__button {
}

/* Media Queries Below */

/* Right Here */
