.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s 0.6s,
    opacity 0.6s;
  z-index: 1;
}

.modal_visible {
  visibility: visible;
  opacity: 1;
  transition:
    visibility 0s,
    opacity 0.6s;
}

.modal__container {
  min-width: 425px;
  min-height: 350px;
  position: relative;
  background-image: linear-gradient(to top, #336137, #3e6541);
  color: #fafafa;
  border-radius: 8px;
}

.modal__close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent url("../images/close-icon-white.svg") center no-repeat;
  border: none;
  opacity: 1;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__title {
  margin: 20px auto 25px;
  font-size: 28px;
  text-align: center;
}

.modal__content {
  height: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal__subtitle {
}

.modal__text {
}

.modal__trans-button {
  width: 100%;
  max-width: 300px;
  padding: 10px 5px;
  font-size: 20px;
  font-weight: 600;
  background: none;
  color: #fafafa;
  border: solid 2px #fafafa;
  border-radius: 8px;
}

.modal__trans-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* Media Queries Below */

/* Right Here */
