@font-face {
  font-family: "Montserrat";
  src: url(../vendor/fonts/Montserrat-VariableFont_wght.ttf);
}

.nav {
  margin: 0 0 0 auto;
  font-family: "Montserrat", Arial, sans-serif;
}

.nav__links {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.nav__link a {
  margin: 0;
  text-decoration: none;
  color: #336137;
  font-size: 16px;
  font-weight: 700;
}

.nav__link a:hover {
  opacity: 0.5;
}

.nav__button {
  margin: 0;
  text-decoration: none;
  color: #336137;
  font-size: 16px;
  font-weight: 700;
  border: none;
  background: transparent;
}

.nav__button:hover {
  opacity: 0.5;
  cursor: pointer;
}
