.nav {
  margin: 0;
}

.nav__links {
  display: flex;
  gap: 20px;
  margin: 0;
  list-style-type: none;
}

.nav__link a {
  margin: 0;
  text-decoration: none;
  color: #000;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
}

.nav__link a:hover {
  color: #fbf9d9;
}

.nav__button {
  margin: 0;
  text-decoration: none;
  color: #000;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  border: none;
  background: transparent;
}

.nav__button:hover {
  color: #fbf9d9;
  cursor: pointer;
}
